<div class="container">
    <div class="card" style="background-color :  #369681;" >
        <div class="card-header">
            <h3>Agregar Cliente</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Id_client</label>
                    <input type="number" class="form-control" placeholder="Ex. 4602">
                </div>
                <div class="form-group">
                    <label for="">Name_client</label>
                    <input type="text" class="form-control"  placeholder="Ex. 0">
                </div>

                <div class="form-group">
                    <label for="">Addres</label>
                    <input type="text" class="form-control"  placeholder="Ex. BANCO CREDIFINANCIERA S.A.">
                </div>

                <div class="form-group">
                    <label for="">Number_telefone</label>
                    <input type="tel" class="form-control" placeholder="Ex. (1) 6286820">
                </div>

                <div class="form-group">
                    <label for="">Code</label>
                    <input type="text" class="form-control"  placeholder="Ex. 10225-10225-10225-10225-10225-">
                </div>

                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="text" class="form-control"  placeholder="Ex. /images/Company/fiscalia.jpg">
                </div>

                <div class="form-group">
                    <label for="">Tipo_cliente</label>
                    <input type="text" class="form-control"  placeholder="Ex. 0">
                </div>

                <div class="form-group">
                    <label for="">Time_Inactivity</label>
                    <input type="text" class="form-control"  placeholder="Ex. Pizza">
                </div>

                <div class="form-group">
                    <label for="">floors</label>
                    <input type="text" class="form-control"  placeholder="Ex. 2">
                </div>

                <div class="form-group">
                    <label for="">Office</label>
                    <input type="text" class="form-control"  placeholder="Ex. 102">
                </div>

                <div class="form-group">
                    <label for="">Name_building</label>
                    <input type="text" class="form-control"  placeholder="Ex. EDIFICIO MONJAs">
                </div>

                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control"  placeholder="Ex. Bogota">
                </div>

                <div class="form-group">
                    <label for="">Code_sioval</label>
                    <input type="text" class="form-control"  placeholder="Ex. 1828">
                </div>

                <div class="form-group">
                    <label for="">Code_sac</label>
                    <input type="text" class="form-control"  placeholder="Ex. 4000939">
                </div>

                <div class="form-group">
                    <label for="">Nit</label>
                    <input type="text" class="form-control"  placeholder="Ex. 9013506822"> 
                </div>

                <div class="form-group">
                    <label for="">IdCity</label>
                    <input type="text" class="form-control"  placeholder="Ex. 4">
                </div>

                <div class="form-group">
                    <label for="">Code_branchMti</label>
                    <input type="text" class="form-control"  placeholder="Ex. 5" >
                </div>

                <button (click)="saveClient()" class="btn btn-danger">  Guardar</button>
            </form>
        </div>
    </div>
</div>