<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="container">
    <div class="card" >
        <div class="card-header">
            <h3>Editar Cliente</h3>
        </div>
        <div class="card-body">
            <form action="">

                
                <div class="form-group">
                    <label for="">Id_client</label>
                    <input type="number" class="form-control" required
                        [(ngModel)]="client.id_client" name="id_client">
                </div>

                <div class="form-group">
                    <label for="">Name_client</label>
                    <input type="text" class="form-control" 
                        id="name_client" required [(ngModel)]="client.name_client" name="name_client">
                </div>

                <div class="form-group">
                    <label for="">Adress</label>
                    <input type="tel" class="form-control"  required
                        [(ngModel)]="client.addres" name="addres">
                </div>

                <div class="form-group">
                    <label for="">Number_telefone</label>
                    <input type="tel" class="form-control"  required
                        [(ngModel)]="client.number_telefone" name="number_telefone">
                </div>

                <div class="form-group">
                    <label for="">Code</label>
                    <input type="text" class="form-control" id=" code"
                        required [(ngModel)]="client. code" name=" code">
                </div>

                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="text" class="form-control"  id="imagen"
                        required [(ngModel)]="client.imagen" name="imagen">
                </div>

                <div class="form-group">
                    <label for="">Tipo_cliente</label>
                    <input type="text" class="form-control"  id="tipo_cliente" required
                        [(ngModel)]="client.tipo_cliente" name="tipo_cliente">
                </div>

                <div class="form-group">
                    <label for="">Time_Inactivity</label>
                    <input type="text" class="form-control"  id="time_Inactivity" required
                        [(ngModel)]="client.time_Inactivity" name="time_Inactivity">
                </div>

                <div class="form-group">
                    <label for="">floors</label>
                    <input type="text" class="form-control"  id="floors" required
                        [(ngModel)]="client.floors" name="floors">
                </div>

                <div class="form-group">
                    <label for="">Office</label>
                    <input type="text" class="form-control"  id="office" required
                        [(ngModel)]="client.office" name="office">
                </div>

                <div class="form-group">
                    <label for="">Name_building</label>
                    <input type="text" class="form-control" id="name_building"
                        required [(ngModel)]="client.name_building" name="name_building">
                </div>

                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" class="form-control"  id="city" required
                        [(ngModel)]="client.city" name="city">
                </div>

                <div class="form-group">
                    <label for="">Code_sioval</label>
                    <input type="text" class="form-control"  id="code_sioval" required
                    [(ngModel)]="client.code_sioval" name="code_sioval">
                </div>

                <div class="form-group">
                    <label for="">Code_sac</label>
                    <input type="text" class="form-control"  id="code_sac" required
                    [(ngModel)]="client.code_sac" name="code_sac">
                </div>

                <div class="form-group">
                    <label for="">Nit</label>
                    <input type="text" class="form-control"  id="nit" required
                    [(ngModel)]="client.nit" name="nit">
                </div>

                <div class="form-group">
                    <label for="">IdCity</label>
                    <input type="text" class="form-control"  id="Idcity" required
                    [(ngModel)]="client.Idcity" name="Idcity">
                </div>

                <div class="form-group">
                    <label for="">Code_branchMti</label>
                    <input type="text" class="form-control"  id="Code_branchMti" required
                    [(ngModel)]="client.Code_branchMti" name="Code_branchMti">
                </div>


                <button  class="btn btn-danger"> Actualizar</button>
            </form>
        </div>
    </div>
</div>